name: ci

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ ^10, ^12, ^14 ]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependency
        run: yarn install --ignore-engines

      - run: yarn run fmt
      - run: yarn run lint

      - name: Unit tests
        run: yarn run test

      - name: Coverage
        run: yarn run coverage

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true

      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ^14

      - run: yarn install --ignore-engines

      - run: yarn run build

      - name: Release
        if: github.event_name == 'push' && github.repository == 'node-casbin/file-adapter'
        run: npx -p semantic-release -p @semantic-release/changelog -p @semantic-release/commit-analyzer -p @semantic-release/release-notes-generator -p @semantic-release/git -p @semantic-release/github semantic-release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
